@tailwind base;
@tailwind components;
@tailwind utilities;

@import './mixins';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,MsJhengHeiBold,\5fae\8edf\6b63\9ed1\9ad4,Microsoft JhengHei,Roboto,PingFangTC,sans-serif;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

@include ipad-m{
    body{
        // 這邊的寫法是告訴 CSS 說現在從 0% ~ 700px 的位置都是 #ffeedf 顏色, 再從 700px 這個位置到 100% 都是 #fff 顏色
        background: linear-gradient(to bottom,#ffeedf 700px,#fff 700px,#fff 100%);
    }

    .containers{
        max-width: 1024px;
    }
}

@include pc-s{
    .containers{
        max-width: 1250px;
    }
}

@include pc-mm{
    .containers{
        max-width: 1468px;
    }
}
